<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="../css/estilos.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="../font/fontello-39688b28/css/fontello.css">
    <link rel="stylesheet" href="../font/fontello-528725a2/css/fontello.css">
    <link rel="stylesheet" href="../font/fontello-c7a9030d/css/fontello.css">
    <link rel="stylesheet" href="../font/fontello-7b3270fd/css/fontello.css">
    <title>misPrestamos</title>
</head>

<body>
    <!--++++++++++++++++++++++++++++++++++++++++CABEZA++++++++++++++++++++++++++++++++++++++++-->
    <div class="main-nanvar" id="blanco">
        <div class="main-nanvar__head-one" id="blanco">
            <h1>misPrestamos</h1>
        </div>
        <div class="main-nanvar__head-two" id="blanco">
            <button class="button-one" id="btn1"><b>COMIENZA AHORA</b></button>
            <button class="button-two" id="btn2"><b>LOGIN</b></button>
        </div>
    </div>
    <!--++++++++++++++++++++++++++++++++++++++++PARTE1++++++++++++++++++++++++++++++++++++++++-->
    <div class="cont-green" id="btn2">
        <div class="cont-green__part-one" id="btn2">
            <div class="cont-green__part-one__one" id="btn2">
                <div class="cont-green__part-one__two" id="btn2 ">
                    <h1>Don't get screwed <br> with your Loans</h1>
                    <p>Know exactly where you stand <br> and take smart decisions now</p>
                    <br>
                    <button class="button-one" id="btn1"><b>COMIENZA AHORA</b></button>
                </div>
            </div>

            <div class="cont-green__part-two" id="btn2">
                
                <div class="cont-green__part-two__one" id="cuadro">
                    <div class="cont-green__part-two__one__icon" id="cuadro">
                        <i class="fa fa-car icon-cab" id="icoaz"><br><b>CARRO</b></i>
                    </div>
                    <div class="cont-green__part-two__one__icon" id="btn1">
                        <i class="fa fa-home icon-home" id="icobl"><br><b>CASA</b></i>
                    </div>
                    <div class="cont-green__part-two__one__icon" id="btn1">
                        <i class="fa fa-book icon-book-alt" id="icobl"><br><b>UNIVERSIDAD</b></i>
                    </div>
                    <div class="cont-green__part-two__one__icon" id="btn1">
                        <i class="fa fa-credit-card icon-credit-card" id="icobl"><br><b>OTRO</b></i>
                    </div>
                </div>

                <div class="cont-green__part-three" id="cuadro">
                    <div class="cont-green__part-three__inside">
                        <label><b>CANTIDAD:</b></label>
                    </div>
                    <div class="cont-green__part-three__inside">
                        <input class="cont-green__part-three__inside__inp-all__one cont-green__part-three__inside__inp-all" type="text">
                    </div>
                    <div class="cont-green__part-three__inside">
                        <div class="cont-green__part-three__inside__label-one">
                            <label><b>MESES:</b></label>
                        </div>
                        <div class="label2">
                            <label><b>INTERÉS (MENSUAL):</b></label>
                        </div>
                    </div>
                    <div class="cont-green__part-three__inside">
                        <div>
                            <input type="text" class="cont-green__part-three__inside__inp-all__two cont-green__part-three__inside__inp-all">
                        </div>
                        <div>
                            <input type="text" class="cont-green__part-three__inside__inp-all__three cont-green__part-three__inside__inp-all">
                        </div>
                    </div>
                    <hr>
                    <center>
                        <div class="cont-green__part-three__inside">
                            <div class="cont-green__part-three__inside__label-grey">
                                <label><b>CUOTA</b></label>
                            </div>
                            <div class="cont-green__part-three__inside__label-grey">
                                <label><b>INTERÉS A PAGAR</b></label>
                            </div>
                            <div class="cont-green__part-three__inside__label-grey">
                                <label><b>TOTAL A PAGAR</b></label>
                            </div>
                        </div>
                        <div class="cont-green__part-three__inside">
                            <div class="labelhr11 cont-green__part-three__inside__label-green">
                                <label><b>Q 805</b></label>
                            </div>
                            <div class="labelhr22 cont-green__part-three__inside__label-green">
                                <label><b>Q 180500</b></label>
                            </div>
                            <div class="labelhr3 cont-green__part-three__inside__label-green">
                                <label><b>Q 180500</b></label>
                            </div>
                        </div>
                    </center>
                    <hr>
                    <br>
                    <center>
                        <label class="cont-green__part-three__inside__label-grey"><b>Get your Loan detail and more
                                <br> valuable insights now!</b></label>
                        <br>
                        <br>
                        <button class="button-one" id="btn1"><b>COMIENZA AHORA</b></button>
                    </center>
                </div>

            </div>
        </div>
    </div>
    <!--++++++++++++++++++++++++++++++++++++++++MEDIO++++++++++++++++++++++++++++++++++++++++-->
    <!--++++++++++++++++++++++++++++++++++++++++MEDIO++++++++++++++++++++++++++++++++++++++++-->
    <!--++++++++++++++++++++++++++++++++++++++++MEDIO++++++++++++++++++++++++++++++++++++++++-->
    <div class="cont-white" id="blanco">
        <div class="cont-white__part-one" id="blanco">
            <h1 class="h1">Save your Loans, get insights</h1>
            <h2>Register, record and track all your loans</h2>
            <br>
            <br>
            <center>
                <img class="cont-white__img" src="../assets/prestamos.jpg" alt="">
            </center>
        </div>
    </div>
    <!--++++++++++++++++++++++++++++++++++++++++PARTE2++++++++++++++++++++++++++++++++++++++++-->
    <!--++++++++++++++++++++++++++++++++++++++++PARTE2++++++++++++++++++++++++++++++++++++++++-->
    <!--++++++++++++++++++++++++++++++++++++++++PARTE2++++++++++++++++++++++++++++++++++++++++-->
    <div class="cont-grey" id="fondo">
        <div class="cont-grey__part-one" id="fondo">
            <div class="cont-grey__part-one__left" id="fondo">
                <h1 class="h1">Alerts and notifications</h1>
                <P>Is your fee overdue? Is it a good idea to pay to debt? <br> Should I transfer my loan to another
                    bank? is
                    it a <br> good time for that? </P>
                <br>
                <button class="button-one" id="btn1"><b>COMIENZA AHORA</b></button>
            </div>
            <table>
                <tr>
                    <th>
                        <img src="../assets/8.jpg" alt="">
                    </th>
                    <td class="cont-grey__part-one__table__th-one">Recuerda realizar el pago de tu <br>prestamo <b>"Prestamo de casa"</b></td>
                </tr>
                <tr>
                    <th>
                        <p class="cont-grey__part-one__table__p">.</p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <img src="../assets/9.jpg" alt="">
                    </th>
                    <td class="cont-grey__part-one__table__th-two">En dos meses determinaras tu<br>prestamo <b>"Prestamo de casa"</b></td>
                </tr>
                <tr>
                    <th>
                        <p class="cont-grey__part-one__table__p">-</p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <img src="../assets/10.jpg"alt="">
                    </th>
                    <td class="cont-grey__part-one__table__th-three">En dos meses determinaras tu<br>prestamo <b>"Prestamo de casa"</b></td>
                </tr>
            </table>
        </div>
    </div>
    <!--++++++++++++++++++++++++++++++++++++++++PIES++++++++++++++++++++++++++++++++++++++++-->
    <div class="cont-blue" id="footer1">
        <div class="cont-blue__part-one" id="footer1">
            <div class="cont-blue__part-one__one" id="footer1">
                <h1 class="label h1">Export and share your analytics</h1>
                <br><br>
                <h2>Send your loan info via email or print a document.</h2>
                <table class="cont-blue__part-one__one__table">
                    <tr>
                        <th>
                            <img src="../assets/1.jpg" alt="">
                        </th>
                        <th>
                            <p style="color: #405c69">..........</p>
                        </th>
                        <th>
                            <img src="../assets/2.jpg" alt="">
                        </th>
                        <th>
                            <p style="color: #405c69">..........</p>
                        </th>
                        <th>
                            <img src="../assets/3.jpg" alt="">
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="cont-blue-two" id="footer2">
        <div class="cont-blue-two__part-one" id="footer2">
            <p>© www.myloans.com.gt | Todos los derechos reservados | Guatemala - Guatemala 2016.</p>
        </div>
    </div>
</body>

</html>