<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <title>misPrestamos</title>
</head>

<body>
    <!--++++++++++++++++++++++++++++++++++++++++CABEZA++++++++++++++++++++++++++++++++++++++++-->
    <!--++++++++++++++++++++++++++++++++++++++++CABEZA++++++++++++++++++++++++++++++++++++++++-->
    <!--++++++++++++++++++++++++++++++++++++++++CABEZA++++++++++++++++++++++++++++++++++++++++-->
    <div class="contenedorCabeza" id="blanco">
        <div class="contenedorCabeza1" id="blanco">
            <h1>misPrestamos</h1>
        </div>
        <div class="contenedorCabeza2" id="blanco">
            <button class="btn" id="btn1">COMIENZA AHORA</button>
            <button class="btn2" id="btn2">LOGIN</button>
        </div>
    </div>
    <!--++++++++++++++++++++++++++++++++++++++++PARTE1++++++++++++++++++++++++++++++++++++++++-->
    <!--++++++++++++++++++++++++++++++++++++++++PARTE1++++++++++++++++++++++++++++++++++++++++-->
    <!--++++++++++++++++++++++++++++++++++++++++PARTE1++++++++++++++++++++++++++++++++++++++++-->
    <div class="contenedorParte1" id="btn2">
        <div class="parte1" id="btn2">
            <div class="parte11" id="btn2">
                <h1>Don't get screwed <br> with your Loans</h1>
                <p>Know exactly where you stand <br> and take smart decisions now</p>
                <br>
                <button class="btn" id="btn1">COMIENZA AHORA</button>
            </div>
        </div>
        <div class="parte12" id="btn2">
            <div id="part2">
                <table>
                    <tr>
                        <td id="im4"><img id="ima4" src="../assets/4.jpg" /><label id="CARRO">CARRO</label></td>
                        <td id="im5"><img id="ima5" src="../assets/5.jpg" /><label id="CASA">CASA</label></td>
                        <td id="im6"><img id="ima6" src="../assets/6.jpg" /><label id="UNIVERSIDAD">UNIVERSIDAD</label>
                        </td>
                        <td id="im7"><img id="ima7" src="../assets/7.jpg" /><label id="OTRO">OTRO</label></td>
                    </tr>
                </table>
                <form id="datos">
                    <label id="cantidad">CANTIDAD:</label>
                    <input id="text1"></input>
                    <label id="meses">MESES:</label>
                    <input id="text2"></input>
                    <label id="interesMensual">INTERÉS (MENSUAL):</label>
                    <input id="text3"></input>
                    <label id="linea1">
                        <hr /></label>
                    <label id="cuota">CUOTA</label>
                    <label id="interesAPagar">INTERÉS A PAGAR</label>
                    <label id="totalAPagar">TOTAL A PAGAR</label>
                    <label id="pago1">Q 805</label>
                    <label id="pago2">Q 180500</label>
                    <label id="pago3">Q 180500</label>
                    <label id="linea2">
                        <hr /></label>
                    <label id="parrafo8">Get your Loan detail and more<br>valuable insights now!</label>
                    <button id="btn5">COMIENZA AHORA</button>
                </form>
            </div>
        </div>
    </div>
    <!--++++++++++++++++++++++++++++++++++++++++MEDIO++++++++++++++++++++++++++++++++++++++++-->
    <!--++++++++++++++++++++++++++++++++++++++++MEDIO++++++++++++++++++++++++++++++++++++++++-->
    <!--++++++++++++++++++++++++++++++++++++++++MEDIO++++++++++++++++++++++++++++++++++++++++-->
    <div class="medio" id="blanco">
        <div class="medio1" id="blanco">
            <h1>Save your Loans, get insights</h1>
            <h2>Register, record and track all your loans</h2>
            <br>
            <br>
            <img class="imgtam" src="../assets/prestamos.jpg" alt="">
        </div>
    </div>
    <!--++++++++++++++++++++++++++++++++++++++++PARTE2++++++++++++++++++++++++++++++++++++++++-->
    <!--++++++++++++++++++++++++++++++++++++++++PARTE2++++++++++++++++++++++++++++++++++++++++-->
    <!--++++++++++++++++++++++++++++++++++++++++PARTE2++++++++++++++++++++++++++++++++++++++++-->
    <div class="contenedorParte2" id="fondo">
        <div class="bajo2" id="fondo">
            <h1>Alerts and notifications</h1>
            <P>Is your fee overdue? Is it a good idea to pay to debt? <br> Should I transfer my loan to another bank? is
                it
                a <br> good time for that? </P>
            <br>
            <button class="btn" id="btn1">COMIENZA AHORA</button>
        </div>
        <div class="bajo21" id="fondo">
            <table>
                <tr>
                    <th>
                        <img src="../assets/8.jpg" alt="">
                    </th>
                    <td class="th1">Recuerda realizar el pago de tu <br>prestamo <b>"Prestamo de casa"</b></td>
                </tr>
                <tr>
                    <th>
                        <p class="p">.</p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <img src="../assets/9.jpg" alt="">
                    </th>
                    <td class="th2">En dos meses determinaras tu<br>prestamo <b>"Prestamo de casa"</b></td>
                </tr>
                <tr>
                    <th>
                        <p class="p">-</p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <img src="../assets/10.jpg" alt="">
                    </th>
                    <td class="th3">En dos meses determinaras tu<br>prestamo <b>"Prestamo de casa"</b></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>